/* ---------------------
    INFOS RESPONSIVE

    col-xs	< 768 px		tel				> tout reste en place
    col-sm	768 < > 992 	tablette		> passe sur 1 col en dessous de 768  (= pt de rupture)
    col-md	992 < > 1200	ordi classiq	> passe sur 1 col en dessous de 992  (= pt de rupture)
    col-lg	> 1200 px		Très grd format	> passe sur 1 col en dessous de 1200 (= pt de rupture)

------------------------ */


/* ---------------------
    STYLE PAR DEFAUT
------------------------ */

.absolute {
    position: absolute;
}
    
h1 {
    font-family: 'Abel', sans-serif; 
    color: #3c3939;
    font-size: 200%;
}
h2 {
    font-family: 'Abel', sans-serif;
    font-size: 30px;
    color: #3c3939;
    text-transform: none;
}
h3 {
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    color: #3c3939;
    text-transform: none;
}
h4 {
    text-transform: none;
}
h5 {
    text-transform: none;
}
p {
    font-family: 'Abel', sans-serif;
    color: #3c3939;
    font-size: 18px;
    line-height: 130%;
}
p a {
    border-bottom: 0;
}
p a:hover {
    border-bottom: 0;
}
#contener{
    width: 1000px;
	margin: auto;
    background: white;
}

.reinitialise {
    border-radius : 0
}

body {
    box-sizing: border-box;
}


/*==========  Pour les Ecrans Large ==========*/ 

/* remove marging */
.rm {
    margin: 0 !important;
}

/* remove padding */
.rp {
    padding: 0 !important;
}

/* marging top */
.mt-40 {
    margin-top: 40px;
}


/* ---------------------
	    NAV BAR 
------------------------ */
.mav-nav{
    border:0;
    background: none;
}

.logo {
    width: 60%;
}

.navbar-default {
    background-color: #fff;
    margin-bottom: 0;
}

.navbar-default ul {
    text-align: center;
}

.navbar-default ul li,
.navbar-default .navbar-brand {
    margin-right: 2rem;
}

.nav li a {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    color: #3c3939;
    text-transform: uppercase;
    display:block;
}

.nav li a:hover {
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    display:block;
}

a.navbar-brand {
    color: #3c3939;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.boutton {
    background: #fff;
    margin-top: 40px;
    margin-bottom: -10px;
    border: 1px solid #3c3939;
} 

/* .navbar-toggle a {
    font-family: 'Abel', sans-serif;
    font-size: 15px;
    border: 1px,  #3c3939;
    text-transform: uppercase;
    display:block;
} */

/* ---------------------
    Flèche haut
------------------------ */

button {
	position: fixed; 
	right: 25px;
	bottom: 25px;
	background: none;
	border: 0;
    font-size: 250%;
	transition: 1s;
    /* cursor: pointer; */
}
button .color{
    color: #3c3939;
}
button :hover{
	color: #878282;
}

/***************** PROJECTEUR *******************/



.projecteur {
    margin-top: 60px; 
    background: #3c3939;
    padding-top: 30px;
}

.projecteur img {
    object-fit: cover;
    max-width: 100%;
    display: block;
    margin: auto;
}
figcaption p {
/*  position: absolute;   */
    color: #fff;
    font-size: 2vw;
    box-sizing: border-box;
    margin-bottom: 15px;
    line-height: 150%;    
}
.nom_Prenom {
    color: #ffff33;
    font-size: 4vw;
}
.mailTo {
    color: rgb(245, 134, 29);
    border: 0;
}
.mailTo a:hover {
    color: #ffff33;
    border: 0;
}
.in a:hover {
    color: #ffff33;
    border: 0;
}
.fa-linkedin-in {
    border: 0;
}

.logos {
    display: block;
    margin-top: 30px;
}


/***************** LOGOS *******************/

/* .section-white{
	background-color: #ffffff !important;
} */








/***************** DESCRIPTION *******************/

h2 {
    font-family: 'Abel', sans-serif; 
    color: #3c3939;
    font-size: 40px;
}
h3 {
    font-family: 'Abel', sans-serif;
    font-size: 28px;
    color: #3c3939;
}
h4 {
    font-family: 'Abel', sans-serif;
    font-size: 23px;
    color: #3c3939;
    line-height: 180%;
    text-transform: uppercase;
}
.des_prestations {
    margin: 0;
}
.accroche {
    text-align: center;
    padding: 90px 0 40px 0;
}
.portrait {
	max-width: 100%;
    margin: auto;
    padding: 0;
}
.histoire {
    position: relative;
    padding: 0;
}
.laPetiteHistoire {
    margin: 65px 0 10px 0;
    padding-left: 10px;
    padding-right: 20px;
}
.histoire p {
    text-align: justify;
    font-size: 20px;
    padding-left: 10px;
}
.lienCV {
    color: rgb(243, 97, 18);
}
.pointsForts{
    width:100%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.21em;
    display: block;
    padding: 40px 0;
    clear: both;
}
hr{
    height: 1px;
    background-color: #3c3939;
    border: none; /*on supprime le style par défaut*/
    margin: 0;
  }

/********************* NAV PORTFOLIO ******************/

/*
.parallax { 
    background-image: url(img/fondP.jpg) no-repeat;
    height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/


.headerPortfolio{
    background: #3c3939;
    padding: 30px 0 30px 0;
    margin: 80px 0 0 0;
}
.menuPortfolio {
    margin: 0;
    padding: 0;
    list-style-type: none; 
}
.menuPortfolio a{
    width: 150px;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
	color: #3c3939;
	text-decoration:none;
    background: #ffff33;
    padding: 50px;
    border-radius: 100px;
    display: block;
}
.menuPortfolio li:hover{
	cursor: pointer;
}
.menuPortfolio a:hover{
	color: #ffff33;
    background: #3c3939;
}


/***************** PORTFOLIO *******************/

#Portfolio{
    margin-top: 100px;
    margin-bottom: 70px;
}

.portfolioWeb {
    padding-bottom: 50px;
}
.portfolioEdition {
    padding-bottom: 50px;
}
.portfolioIdentite {
    padding-bottom: 50px;
}

#web {
    padding-bottom: 30px;
}
#edition {
    padding-bottom: 30px;
}
#identite {
    padding-bottom: 30px;
}
#matteP {
    padding-bottom: 30px;
}

.pWeb {
    font-size: 23px;
    line-height: 150%;
    margin-bottom: 30px;
}

.thumbnail {
    padding: 0;
    border: 0;
    border-radius: 0;
    margin-bottom: 35px;
}
.img{
    width: 100%;
    padding: 15px 0;
    margin: 0px;
}


/***************** MON ŒIL *******************/

.inprogress {
/*    text-align: center;   */  
    margin-top: 250px;
    height: 800px;
}
.imgInProgress {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/***************** FOOTER *******************/

footer {
    margin-top: 50px;
	padding: 15px;
}
.filetFooter {
    margin-bottom: 20px;
}
.texteFooter {
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    color: #3c3939;
}
.clear {
	clear:both;
}

/* ?????? */
.fa-angle-up:before {
    content: "\f106";
}
    *:before {
        box-sizing: border-box;
    }


/***************** POPUP images *******************/

    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }
    
    #myImg:hover {opacity: 0.7;}
    
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }
    
    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }
    
    /* Caption of Modal Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }
    
    /* Add Animation */
    .modal-content, #caption {    
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)} 
        to {-webkit-transform:scale(1)}
    }
    
    @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
    }
    
    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
    
    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
        .modal-content {
            width: 100%;
        }
    }