/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************** FIN RESET *******************/


h1{
    font-family: 'Abel', sans-serif; 
    color: #3c3939;
    font-size: 200%;
}
h2{
    font-family: 'Abel', sans-serif;
    font-size: 150%;
    color: #3c3939;

}h3{
    font-family: 'Abel', sans-serif;
    font-size: 100%;
    color: #3c3939;
}
p{
    font-family: 'Abel', sans-serif;
    color: #3c3939;
    font-size: 100%;
    line-height: 130%;
}

#contener{
    width: 1000px;
	margin: auto;
    background: white;
}

/******************* NAV *****************/

.logo{
    width: 8%;
    margin-top: 5px;
}
.mainMenu{
	position:fixed;
	top: 20px;
	width:1000px;
	margin:0;
	padding:0;
    margin-top: 20px;
}
.menu{
    display: flex;
    padding: 0 70px 0 300px;
    flex-direction: row;
	max-height:0px;
	overflow-y: hidden;
	text-align: center;
    margin-top: -30px;
}
.menu li{
	width: 100%;
    padding: 0 5px;
}
.menu li:hover{
	cursor:pointer;
}
.menu li a{
    font-family: 'Abel', sans-serif;
    font-size: 90%;
    text-transform: uppercase;
	color: #3c3939;
	text-decoration:none;
	display:block;
    background: #fff;
}
.menu a:hover{
	color: #ffff33;
    background: #3c3939;
}
label.menuTitle{
	display:block;
	font-size:20px;
	text-align:right;
	height:40px;
	margin-right:1%;
	width:30px;
	font-weight:bold;
	cursor:pointer;
	background:url(img/menu.png) 97% 10px no-repeat;
	background-size:24px 19px;
    float:right;
	
}
.hidden{
	display:none;
}
input[name="panel"]:checked ~ .menu{
	max-height:800px;
    transition:2s;
}
.clear{
	clear:both;
}

button a{
	position: fixed;
	right: 25px;
	bottom: 25px;
	background: none;
	border: none;
	color: #3c3939;
	font-size: 400%;
	transition: 1s;
	cursor: pointer;
}
button a:hover{
	color: rgba(51,51,51,0.3);
}

/***************** HEADER *******************/


header{
    margin-top: 100px;
    background: #3c3939;
    width: 100%;
    height: 500px;
}
.imageHeader{
    display: block;
    position: center;
}

img[title="adelineClere"]{
    margin: auto;
    display: block;
}

/***************** FOOTER *******************/

footer{
	padding:15px;
}
.filetFooter{
    margin-top: 50px;
}
.texteFooter{
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 80%;
    color: #3c3939;
}
.clear{
	clear:both;
}

/***************** MAIN HOME *******************/


.accroche{
    text-align: center;
    padding: 90px 0 40px 0;
    
}
.portrait{
	width:25%;
    margin-top: 0px;
    float: left;
}
.photoMe{
    width: 80%;
    float: left;
    margin-top: -10px;
}
.histoire{
    width:75%;
    float: left;
	margin: 78px 0 20px 0;
    padding-left: 20px;
    box-sizing: border-box;
}
.laPetiteHistoire{
    margin-bottom: 10px;
}
.histoire p{
    text-align: justify;
}

.pointsForts{
    width:100%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.21em;
    display: block;
    padding: 40px 0;
    clear: both;
}


/********************* NAV PORTFOLIO ******************/

.headerPortfolio{
    background: #3c3939;
    height: 170px;
    margin-top: 150px;
}
.navPortfolio{
    position:fixed;
	width: 1000px;
    height: 300px;
}
.menuPortfolio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: -92px 85px 0 85px; 
/*  margin: -150px 85px 0 85px; */
}
.menuPortfolio a{
    font-family: 'Abel', sans-serif;
    font-size: 90%;
    text-transform: uppercase;
	color: #3c3939;
	text-decoration:none;
    background: #ffff33;
    padding: 50px;
    border-radius: 100px;
    margin-left: auto;
}
.menuPortfolio li:hover{
	cursor:pointer;
}
.menuPortfolio a:hover{
	color: #ffff33;
    background: #3c3939;
}


/***************** MAIN PORTFOLIO *******************/

.sectionPortfolio{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.filetHoriz{
    flex-direction: row;
    margin: 50px 0;
}
.portfolioWeb{
    display: flex;
    flex-wrap: wrap;
  /*  background: pink;  */
    margin-bottom: 50px;
    justify-content: space-between;
}
.portfolioEdition{
    display: flex;
    flex-wrap: wrap;
    background: pink;
    margin-bottom: 50px;
    justify-content: space-between;
}
.portfolioIdentite{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: space-between;
}
.portfolioMatte{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: space-between;
}
.visuelsPortfolio{
    width: 31%;
    height: 270px;
    background: orange;
    margin: 60px 0 0 0;
}


/************* responsive **************/

/**** @media (max-width: 580px){    (mobile)
    body{
        margin: 0;
    }
    #contener{
        width: 100%;
        border: none;
        }
    
    .mainMenu{
        position: fixed;
        top: 0;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        float: right;
    }
    .menu{
        width: 50%;
        margin: 0;
        padding: 0 0 0 50%;
        max-height: 0;
        overflow-y: hidden; /* va cacher le contenu (=les menus) qui depasse dans l'axe vertical car bloc fait 0px de ht

        text-align: center;
        transition:2s;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .menu li{
        border-top: 1px solid #ccc;
        width: 100%;
        background: #fff;
        }
    .menu li a{
        padding: 15px 0;
    }
    .menu li:hover{
        background: #323939;
        cursor:pointer;
    }
     
    
    
    
    
    
    
    
    
    
    .portrait, .accroche, .histoire, .pointsForts{
         width: 100%;
         height: 125px;
         margin: 0;
     }
    .pointsForts{
         margin-bottom: 20px;
     }
    img {
        max-width: 100%;
        margin: 0px;
    }
    header{
        margin-bottom: 70px;
        margin-top: 42px;
        height: 90px;
    }
    .section{
        margin: 0;
    }
    
    .headerPortfolio{
        margin-top: 45px;
        height: 100px;
    }
    .navPortfolio{
        position:fixed;
        width: 100%;
        height: 300px;
}
    .menuPortfolio{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        margin: -92px 0 0 0; 
    }
    .menuPortfolio li{
        margin-top: 33px;
    }
    .menuPortfolio a{
        font-family: 'Pathway Gothic One', sans-serif;
        text-transform: uppercase;
        color: #3c3939;
        text-decoration:none;
        background: #ffff33;
        padding: 20px;
        border-radius: 100px;
        margin: 0;
    }
    .menuPortfolio li:hover{
        cursor:pointer;
    }
    .menuPortfolio a:hover{
        color: #ffff33;
        background: #3c3939;
    }
    .visuelsPortfolio{
        width: 100%;
    }
}



/*












