/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************** FIN RESET *******************/

#contener{
    width: 1000px;
	margin: auto;
}
.mainMenu{
	position:fixed;
	top:0;
	width:1000px;
	margin:0;
	padding:0;
    margin-top: 20px;
}

.menu{
    display: flex;
    padding: 0 70px 0 300px;
    flex-direction: row;
	max-height:0px;
	overflow-y:hidden;
	text-align:right;
    margin-top: -30px;
}
.menu li{
	width: 100%;
}
.menu li:hover{
	cursor:pointer;
}
.menu a{
	color:black;
	text-decoration:none;
	display:block;
}
.menu a:hover{
	color:yellow;
}
label.menuTitle{
	display:block;
	font-size:20px;
	text-align:right;
	height:40px;
	margin-right:1%;
	width:30px;
	font-weight:bold;
	cursor:pointer;
	background:url(img/menu.png) 97% 10px no-repeat;
	background-size:24px 19px;
    float:right;
	
}
.hidden{
	display:none;
}
input[name="panel"]:checked ~ .menu{
	max-height:800px;
    transition:2s;
}
.clear{
	clear:both;
}


/***************** HEADER *******************/

header{
    margin-top: 130px;
	height:400px;
    background: gray;
}

/***************** MAIN INDEX *******************/


.sectionHome{
    height: 300px;
}
.portrait{
	width:25%;
	background:orange;
    margin-top: 100px;
    float: left;
	height:100px;
}
.accroche{
    width:75%;
	background:yellow;
    margin-top: 100px;
    float: left;
	height:100px;
}
.histoire{
    width:75%;
	background:red;
    float: left;
	height:100px;
}
.pointsForts{
    width:25%;
	background:purple;
    float: left;
	height:100px;
}

footer{
	padding:15px;
}
.filetFooter{
    margin-top: 100px;
}
.texteFooter{
    text-align: center;
}
.clear{
	clear:both;
}


/********************* PORTFOLIO ******************/


.ancre{
    margin-top: 150px;
    text-align: center;
    background: red url(../img/ronds_jaunes.png) no-repeat;
    background-size: 80%;
    padding-bottom: 150px;
}
.ancre a{
    color:black;
	text-decoration:none;
    padding: 50px;
    border-radius: 100px;
    margin-left: auto;
    padding-top: 10px;
    transition: 0.5s;
}
.ancre a:hover{
    font-size: 150%;
}


/*
.rondsJaunes{
    position: absolute;
    width: 80%;
}

/*
.navPortfolio{
    position:fixed;
	width: 1000px;
}
.menuPortfolio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: -150px 85px 0 85px; 
}
.menuPortfolio a{
	color:black;
	text-decoration:none;
    background: yellow;
    padding: 50px;
    border-radius: 100px;
    margin-left: auto;
}
.menuPortfolio li:hover{
	cursor:pointer;
}
.menuPortfolio a:hover{
	color:yellow;
    background: gray;
}
   

/***************** MAIN PORTFOLIO *******************/

.sectionPortfolio{
   /* background: gray; */
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}
.filetHoriz{
    flex-direction: row;
    margin: 50px 0;
}
.portfolioWeb{
    display: flex;
    flex-wrap: wrap;
    background: pink;
    margin-bottom: 50px;
}
.portfolioEdition{
    display: flex;
    flex-wrap: wrap;
    background: pink;
    margin-bottom: 50px;
}
.portfolioIdentite{
    display: flex;
    flex-wrap: wrap;
    background: pink;
    margin-bottom: 50px;
}
.portfolioMatte{
    display: flex;
    flex-wrap: wrap;
    background: pink;
    margin-bottom: 50px;
}
.visuelsPortfolio{
    width: 25%;
    height: 200px;
    background: orange;
    margin: 40px;
}




















